<div class="container bg-dark-subtle py-5 text-center rounded">
    <h1 class="fw-bold display-5" >Where can I study? / ¿Dónde puedo estudiar?</h1>
    <p class="py-5">Event though you took the exam, doesn't mean you are ready to take an official English 
        exam. So here are some resources to help you prepare for the level exam of your choice. 
        / A pesar de haber hecho este examen, no significa que usted esté listo para hacer un 
        examen oficial de inglés. Aquí tiene algunos recursos para ayudarle a preparar
        el examen de nivel que prefiera.
    </p>
<h3 class="py-5">A1 Level / Nivel de A1</h3>
<div class="links">
<a class="link" href="https://www.cambridgeenglish.org/exams-and-tests/movers/">Cambridge A1 Exam Explanation and Resources</a>
<a class="link" href="https://www.examenglish.com/A1/index.html">Exam English Website Practice A1 Exam </a>
<a class="link" href="https://englishpracticetest.net/practice-english-grammar-tests-for-a1-with-answer/">English Practice Test Website A1 Exam and Resources</a>
<a class="link" href="https://www.trinitycollege.com/qualifications/english-language/ISE/ISE-A1-resources"> Trinity A1 Exam Explanation and Resources</a>
</div>

<h3 class="py-5">A2 Level / Nivel de A2</h3>
<div class="links">
<a class="link" href="https://www.cambridgeenglish.org/exams-and-tests/key/">Cambridge A2 Exam Explanation and Resources</a>
<a class="link" href="https://www.examenglish.com/KET/index.html">Exam English Website Practice A2 Exam </a>
<a class="link" href="https://englishpracticetest.net/practice-ket-a2-reading-and-writing-tests-with-answers/">English Practice Test Website A2 Reading Exams</a>
<a class="link" href="https://englishpracticetest.net/practice-ket-a2-listening-tests-with-answers-and-audioscripts/">English Practice Test Website A2 Listening Exams</a>
<a class="link" href="https://www.trinitycollege.com/qualifications/english-language/ISE/ISE-Foundation-A2-resources"> Trinity A2 Exam Explanation and Resources</a>
</div>
<h3 class="py-5">B1 Level / Nivel de B1</h3>
<div class="links">
<a class="link" href="https://www.cambridgeenglish.org/exams-and-tests/preliminary/">Cambridge B1 Exam Explanation and Resources</a>

<a class="link" href="https://www.examenglish.com/PET/index.php">Exam English Website Practice B1 Exam </a>

<a class="link" href="https://englishpracticetest.net/practice-english-reading-tests-for-b1-with-answer/">English Practice Test Website B1 Reading Exams</a>

<a  class="link"href="https://englishpracticetest.net/practice-pet-b1-listening-tests-with-answers-and-audioscripts/">English Practice Test Website B1 Listening Exams</a>

<a class="link" href="https://www.trinitycollege.com/qualifications/english-language/ISE/ISE-I-B1-resources"> Trinity B1 Exam Explanation and Resources</a>
</div>

<h3 class="py-5">B2 Level / Nivel de B2</h3>
<div class="links">
<a class="link" href="https://www.cambridgeenglish.org/exams-and-tests/first-for-schools/">Cambridge B2 Exam Explanation and Resources</a>
<a class="link" href="https://www.examenglish.com/FCE/index.html">Exam English Website Practice B2 Exam </a>
<a class="link" href="https://englishpracticetest.net/practice-english-reading-tests-for-b2-with-answer/">English Practice Test Website B2 Reading Exams</a>
<a class="link" href="https://englishpracticetest.net/practice-fce-b2-listening-tests-with-answers-and-audioscripts/">English Practice Test Website B2 Listening Exams</a>
<a class="link" href="https://engexam.info/fce-listening-practice-tests/">Eng Info Website B2 Listening Exams</a>
<a class="link" href="https://engexam.info/fce-reading-and-use-of-english-practice-tests/">Eng Info Website B2 Reading and Use of English Exams</a>
<a class="link" href="https://www.trinitycollege.com/qualifications/english-language/ISE/ISE-II-B2-resources"> Trinity B2 Exam Explanation and Resources</a>
 </div>

<h3 class="py-5">C1 Level / Nivel de C1</h3>
<div class="links">
<a class="mb-2" href="https://www.cambridgeenglish.org/exams-and-tests/advanced/">Cambridge C1 Exam Explanation and Resources </a>
<a class="mb-2" href="https://www.examenglish.com/CAE/index.php">Exam English Website Practice C1 Exam  </a>
<a class="mb-2" href="https://englishpracticetest.net/practice-cae-c1-listening-tests-with-answers-and-audioscripts/">English Practice Test Website B2 Listening Exams </a>
<a class="mb-2" href="https://engexam.info/cae-listening-practice-tests/">Eng Info Website C1 Listening Exams </a>
<a class="mb-2" href="https://engexam.info/cae-reading-and-use-of-english-practice-tests/">Eng Info Website C1 Reading and Use of English Exams </a>
<a class="mb-2" href="https://www.trinitycollege.com/qualifications/english-language/ISE/ISE-III-C1-resources"> Trinity C1 Exam Explanation and Resources </a>
 </div>
<h3 class="py-5">C2 Level / Nivel de C2</h3>
<div class="links">
<a class="link" href="https://www.cambridgeenglish.org/exams-and-tests/advanced/">Cambridge C2 Exam Explanation and Resources</a>
<a class="link" href="https://www.examenglish.com/cpe/index.php">Exam English Website Practice C2 Exam </a>
<a class="link" href="https://www.flo-joe.co.uk/cpe/students/tests/">Flo Joe Website C2 Reading and Use of English Exam</a>
<a class="link" href="https://www.englishrevealed.co.uk/cpe.php">English Revealed Website C2 Use of English Exams</a>
<a class="link" href="https://www.trinitycollege.com/qualifications/english-language/ISE/ISE-IV-C2-resources"> Trinity C2 Exam Explanation and Resources</a>
 </div>
<h3 class="py-5">Other Exams and Resources / Otros examenes y recursos </h3>
<div class="links">
<a class="link" href="https://eoidiomas.net/eoi/faqs/examenes/#google_vignette">Explicacion del Examen de la Escuela de Idiomas y recursos </a>
<a class="link" href="https://www.perfect-english-grammar.com/">Grammar Practice / Practica de gramatica</a>
<a class="link" href="https://ielts.org/">IELTS Exam</a>
<a class="link" href="https://www.vocabulary.com/">English Vocabulary / Vocabulario de ingles</a>
<a class="link" href="https://www.saberingles.com.ar/">English Vocabulary for Spanish Speakers / Vocabulario para personas que hablan español</a>
<a class="link" href="https://www.linguee.com/">Translation Website / Pagina web de traducciones </a> </div>
<p class="py-5">I hope these websites help you on your way to achieve the English level you need.
    / Ojalá estas páginas le ayuden en su camino para obtener el nivel de inglés que necesita. </p>

